.header__lang-link {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.16;
    color: #fff;
    text-decoration: none;
    transition: opacity .5s ease;
}

.header__lang-link:hover {
    opacity: .8;
}

@media screen and (max-width: 580px) {
    .header__lang-link {
        font-size: 20px;
        line-height: 1.12;
    }
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
    }
}