.page {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: "Inter", sans-serif;
    color: #fff;
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
}