.photo-grid {
    margin: 92px 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    padding: 0;
    list-style-type: none;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin: 88px 24px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        margin: 64px 16px 33px;
        gap: 12px;
    }
}