.places {
    margin: 0 148px;
}

@media screen and (max-width: 1024px) {
    .places {
        margin: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        margin: 0 24px;
    }
}

@media screen and (max-width: 580px) {
    .places {
        margin: 0;
    }
}