.lead {
    margin: 56px 148px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .lead {
        margin: 48px 48px 0;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        margin: 48px 0 0;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        margin: 48px 0 0;
    }
}