.place__paragraph-container {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr;
    grid-area: paragraph;
    align-self: flex-start;
    gap: 26px;
}

@media screen and (max-width: 768px) {
    .place__paragraph-container {
        gap: 25px;
    }
}

@media screen and (max-width: 580px) {
    .place__paragraph-container {
        margin: 0 16px;
    }
}