.lead__title {
    margin: 0;
    font-size: 96px;
    font-weight: 900;
    line-height: 1.05;
    text-align: center;
    max-width: 720px;
}

@media screen and (max-width: 680px) {
    .lead__title {
        font-size: 81px;
    }
}

@media screen and (max-width: 580px) {
    .lead__title {
        font-size: 44px;
        max-width: 365px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 1.1;
    }
}