.lead__title {
    margin: 0 132px;
    font-size: 96px;
    font-weight: 900;
    line-height: 1.05;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        margin: 0 104px;
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        margin: 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        margin: 0 18px;
        font-size: 40px;
        line-height: 1.1;
    }
}