.cover {
    margin: 92px 48px;
    display: flex;
    max-height: 100%;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 92px 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 90px 0 88px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin: 66px 0 64px;
    }
}