.cover__overlay {
    display: flex;
    text-decoration: none;
    width: 100%;
    color: #fff;
    background-image: url("../../../images/cover-trains.jpg");
    background-size: cover;
    min-height: 740px;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover__overlay::before {
    content: "";
    position: absolute;
    background-color: rgba(42, 44, 47, .3);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: background-color .8s ease-in;
}

.cover__overlay:hover::before {
    background-color: rgba(42, 44, 47, .8);
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media screen and (max-width: 580px) {
    .cover__overlay {
        min-height: 300px;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        min-height: 200px;
    }
}