.cover__background {
    background-image: url("../../../images/cover-trains.jpg");
    background-size: cover;
    width: 100%;
    display: flex;
    min-height: 740px;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover__background::before {
    content: "";
    position: absolute;
    background-color: rgba(42, 44, 47, .3);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.cover__background:hover::before {
    background-color: rgba(42, 44, 47, .8);
}