.cover__title {
    color: white;
    z-index: 1;
    margin: 0 0 32px;
    max-width: 560px;
    font-size: 72px;
    line-height: 1.06;
    font-weight: 900;
    text-align: center;
}

@media screen and (max-width: 1024px){
    .cover__title {
        line-height: 1.1;
    }
}

@media screen and (max-width: 320px){
    .cover__title {
        font-size: 32px;
        max-width: 288px;
        margin: 0 0 16px;
    }
}