.place {
    width: 100%;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 460px 1fr;
    align-items: flex-end;
    grid-template-areas:
    "title website"
    "image paragraph";
    gap: 48px 40px;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: 100%;
        gap: 30px;
        grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph";
    }
}