.footer {
    margin: 0 48px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        margin: 0 16px;
        justify-content: space-between;
        min-height: 314px;
    }
}