.footer {
    margin: 0 48px;
    display: flex;
    padding-bottom: 24px;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 0 24px;
    }
}

@media screen and (max-width: 580px) {
    .footer {
        flex-direction: column;
        margin: 0 16px;
    }
}